*{
    box-sizing: content-box;
}

.desktop-only{
        display: none;  
    }

header{
    padding: 10px;
    display: flex;
    justify-content:flex-start ;
    justify-content: space-between
}

header img{
    border-style: solid;
}

.responsive{
  width: 100%;
  height: auto;
  padding-top:  10px ;
}

 footer{
     border-top: solid;
}

article{
    justify-content: space-evenly;
}

main article h1{
    font-size: 26px;
    font-weight: bold;
    margin: 8px 0;  
}

main aside h2{
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0; 
}

@media (min-width:600px){
    .mobile-only{
        display: none;
    }
    
    .desktop-only{
        display: unset;  
    }
     
    main{
        display: grid;
        grid-template-columns: 60% auto;
        grid-column-gap:10px
    }
    


    ul#horizontal-list li {
		display: inline;
    }
    
    
}
